.chatContainerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.chatBoxContainerStyle {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    
}