.homeStyle {
    display: inline-block;
    position: relative;
}

.userIconStyle {
    position: absolute;
    top: 5px;
    right: -13px;
    height: 10%;
    width: 10%;
}

body {
    margin: 0;
    padding: 0;
}