.homeWrapper {
    color: rgb(7, 138, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 2 rem;
    margin: 0;
    padding: 0;
}