.homeStyle {
    overflow-y: fixed;
}
.userIconStyle {
    position: relative;
    height: 10%;
    width: 10%;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: inline-block;
    padding-left: 30px;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.centered {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.sidebarX {
    width: 100px; /* Adjust width as needed */
    display: inline-block;
    /* Add any other styles you need for the sidebar */
     /* Add scrollbars when content overflows */
    max-height: calc(100vh - 60px); /* Adjust as needed; 60px is the height of the navbar */
}