/* Navbar.css */
.navbar {
    position: fixed; /* Set Navbar to fixed position */
    top: 0; /* Position Navbar at the top of the screen */
    left: 0;
    width: 100%; /* Occupy the full width of the screen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 0, 62);
    color: #fff;
    padding-top: 10px;
    z-index: 100;
    position: sticky;
    
    
  }
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ddd;
  }

  .account-link:hover + .popup-box {
    display: block;
  }

  .popup-box {
    display: none;
    position: absolute;
    top: 40px; /* Adjust as needed */
    left: 0;
    background-color: #ff0000;
    padding: 10px;
    border: 1px solid #00ffcc;
  }


  
  .login-btn {
    background-color: #700089;
    color: #fff;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
  }
  
  .login-btn:hover {
    background-color:  #430152;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .login-btn {
      margin-top: 10px;
    }
}
