/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(50, 0, 62);
    color: #fff;
    padding-top: 10px;
    z-index: 100;
    position: sticky;
    
    
  }
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a:hover {
    color: #ddd;
  }
  
  .login-btn {
    background-color: #700089;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color:  #430152;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar-links {
      margin-top: 10px;
    }
  
    .login-btn {
      margin-top: 10px;
    }
}