/* Sidebar.css */
.sidebar {
  display: flex;
  bottom: 0px;
  height: auto;
  width: 100%;
  background-color: rgb(50, 0, 62);
  color: #fff;
  box-shadow: inset;
  min-width: 50px;

}


.sidebar-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
  
  
}

.sidebar-links li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-links li a:hover {
  background-color: #700089;
}



@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

}