.pointsContainerStyle {
    position: absolute;
    top: 80px;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.pointsTextStyle {
    font-size: 16px;
    font-weight: bold;
}
